h1{
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}
h2,table{
    text-align:center;
    margin:auto;
}
.centrer{
    text-align: center;
}

body{
    background-color: floralwhite;
}
.cadre-compte{
    text-align: right;
}